body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dashboard{
  display: flex;
  margin-top:40px;
  align-items: center;
  justify-content: center;
}
.center{
  text-align: center;
}
.polls{
  width:55%;
}

.polls-descriptor-list,.user-stats-list{
  list-style: none;
  box-sizing: border-box;
}
.poll-descriptor{
  
  display: flex;
  align-items: center;
  
}



.author-avatar{
  height:60px;
  width:60px;
}

.author-avatar img{
  display: block;
  height: 100%;
  width:100%;
}

.poll-description{
  width:80%;
  max-width: 576px;
}